.App {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
}

.chart-container {
  flex: 1;
}

.title {
  height: 40px;
  display: flex;
  justify-content: center;
  font-size: 36px;
  align-items: center;
}
